// Global Styles
@import 'global/_global-dir.sass'


// Generic Styles
*
  margin: 0
  padding: 0
  font-family: 'proxima-nova', 'Source Sans Pro', sans-serif
  -webkit-font-smoothing: antialiased
  box-sizing: border-box


body
  background: white
.container
  margin: 0 auto

section
  padding: 150px 0px

section.topSection
  background: white
  width: 100%
  display: block
  margin: 0px auto
  margin-top: 50vh
  padding-top: 100px
  padding-bottom: 0px

.topSection
  margin-top: 60vh


.buttonBlock
  margin-top: 70px

a
  color: $text
  text-decoration: none
  font-size: 14px

  &:hover
    color: $darkBlue
    text-decoration: none


// ------------- Media Queries ---------------

html
  overflow-x: hidden !important
  width: 100%

.container
  max-width: 100%
  margin: 0 auto
  padding: 0px 25px
  //background: yellow

input.spaceLeft
  margin-left: 0px

input.spaceRight
  margin-right: 0px


// Small Laptop
@media (min-width: $breakpoint-tablet)
  .container
    max-width: 1000px
    padding: 0px


// Desktop
@media (min-width: $breakpoint-desktop)
  .container
    max-width: 1200px
    padding: 0px

// Large Desktop
@media (min-width: $breakpoint-large-desktop)
  .container
    max-width: 1440px
    padding: 0px




@import 'components/_components-dir.sass'
