include includes/vars.jade

// Jade Variables
- var PageTitle = "Cymbeo | Simple and Intuitive Content Management System"
- var Navigation = "Marketing"
- var page = "index"

doctype html
html
  include includes/head.jade
  body
    // C1 Pre Loader
    include components/c1-preloader.jade
    
    // Navigation
    if Navigation == "Platform"
      include includes/Platform-nav.jade
    else
      include includes/nav.jade
    
    // C2 Hero
    include components/c2-hero.jade
    
    // C3 Maximize 
    include components/c3-maximize.jade
    
    // C4 How it Works
    include components/c4-howItWorks.jade
    
    // C5 Product Intros
    include components/c5-appProductIntro.jade
      
    
    include includes/cymbiotic-relationship.jade
    include includes/footer.jade
    
