include includes/vars.jade
// Jade Variables
- var PageTitle = "Cymbeo | Log In"
- var Navigation = "Marketing"
- var page = "log-in"

doctype html
html
  include includes/head.jade
  
  body
    // Navigation
    if Navigation == "Platform"
      include includes/Platform-nav.jade
    else
      include includes/nav.jade
    
    // C2 Hero
    include components/c2-hero.jade
    // C9 Form
    include components/c9-form.jade
    // C3 Maximize 
    include components/c3-maximize.jade
    

    include includes/cymbiotic-relationship.jade
    include includes/footer.jade
