include includes/vars.jade
// Jade Variables
- var PageTitle = "Cymbeo | Mobile App Builder"
- var Navigation = "Marketing"
- var product = "mab"

doctype html
html
  include includes/head.jade
  body
    // Navigation
    if Navigation == "Platform"
      include includes/Platform-nav.jade
    else
      include includes/nav.jade
    
    // C6 Video Modal
    include components/c6-video-modal.jade
    // C2 Hero 
    include components/c2-hero.jade
    
    // C7 Benefits
    include components/c7-benefits.jade
    
    // C8 Benefits
    include components/c8-features.jade
          
    // C3 Maximize 
    include components/c3-maximize.jade
    
    // Cymbiotic Relationship
    if PageTitle == "Cymbeo | Sign Up"
    
    else
      include includes/cymbiotic-relationship.jade
    include includes/footer.jade
    
