include includes/vars.jade
// Jade Variables
- var PageTitle = "Cymbeo | Pricing"
- var Navigation = "Marketing"
- var page = "pricing"

doctype html
html
  include includes/head.jade
  body
    // C1 Pre Loader
    include components/c1-preloader.jade
    
    // Navigation
    if Navigation == "Platform"
      include includes/Platform-nav.jade
    else
      include includes/nav.jade
      
    // C2 Hero
    //include components/c2-hero.jade
    
    
    // Hero Section
    main.c2.hero
      .c2.square
        .c2.squareBg
          img.c2(src="/images/index-hero.jpg")
        .c2.overlay
      .c2.container
        .c2.halfBlock
          h1.c2.dark.wow.fadeInLeft Choose the Right Plan For You.
          p.c2.wow.fadeInLeft(data-wow-delay=".5s") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tellus magna, venenatis at dapibus sed, rhoncus id velit. Sed quis condimentum eros. Duis a enim leo.
        .c2.buttonBlock.hero
          a.c2.button.grey.wow.fadeInLeft(href="#", data-wow-delay="1s") Request A Demo
  
  
  
  
  
    // C3 Maximize 
    include components/c3-maximize.jade
    
    include includes/cymbiotic-relationship.jade
    include includes/footer.jade
