section.cymbiotic-relationship
  .overlay
    .container
      h2.white.center The <span class="bold">Cymbiotic</span> Relationship
      p.white.centered Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tellus magna, venenatis at dapibus sed, rhoncus id velit. Sed quis condimentum eros. Duis a enim leo.
      .buttonBlock.center
        a.button(href= signup) Get Started Today
