// Footer
footer
  .container
    img#footerLogo(src="images/logo.svg" alt="Cymbeo Logo | Simple and Intuitive Content Management System")
    
    .footerNav
      .footerColumn
        h4.footerHeadline.blue Features
        a.footerLink(href= cms) CMS
        a.footerLink(href= mab) Custom Mobile App
        a.footerLink(href= dp) Digital Publishing
        a.footerLink(href= dam) Digital Asset Managment
      .footerColumn
        h4.footerHeadline.pink Company
        a.footerLink(href= signup) Sign Up
        a.footerLink(href= login) Log In
        a.footerLink(href="#") About
        a.footerLink(href="#") Contact
      .footerColumn
        h4.footerHeadline.orange Help
        a.footerLink(href= pricing) Pricing
        a.footerLink(href="#") Video Tutorials
        a.footerLink(href="#") Forum
      .footerColumn
        h4.footerHeadline.green Social
        a.footerLink(href="#") Facebook
        a.footerLink(href="#") Twitter
        a.footerLink(href="#") Github
        a.footerLink(href="#") LinkedIn
    .copyright Copyright © 2011-2018 Cymbeo inc., All Rights Reserved

script(src="js/functions.js")
script(src="js/wow.min.js")
script.
  wow = new WOW(
  {
    boxClass:     'wow',      // default
    animateClass: 'animated', // default
    offset:       0,          // default
    mobile:       false,       // default
    live:         true        // default
  }
  new WOW().init();
