head
  // Page title
  title #{PageTitle}
  
  // Meta tags
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1", user-scalable="no")
  meta(name="description",content="")
  meta(name="author",content="")
  link(rel="icon" href="images/favicon.png")
  
  // Stylesheets
  link(rel="stylesheet",href="css/main.css")
  link(rel="stylesheet",href="css/global/animate.css")
  
  // Javascript
  script(src="js/jquery.min.js")
  

    
