nav#marketing
  .container
    .marketingLogo
      a(href="index.html")
        img(src="images/logo.svg" alt="Cymbeo Logo")
        
    .menu
      img.menuIcon#menuIcon(src="images/menu.svg")
      
    
    .navLinks#navMobile
      ul.navUl
        div.mobileLogo
          a.navLink(href="index.html")
            img.mobil(src="images/mobileLogo.svg")
        .close#close
        li#dropdownTrigger
          a.navLink(href="#") Features
          div.dropdown#dropdown
            img.triangle(src="images/triangle.svg")
            ul.featuresList
              li.feature
                
                a.featureLink.featureCMS(href= cms)
                  img.icon(src="images/cms.svg" alt="Cymbeo | Content Management System")
                  span.featureName.cms Content Management System 
                  
                  
              li.feature
                a.featureLink.featureCMAB(href= mab)
                  img.icon.app(src="images/cmab.svg" alt="Cymbeo | Custom Mobile App Builder")
                  span.featureName.cmab Custom Mobile App Builder
                  
              li.feature
                a.featureLink.featureDP(href= dp)
                  img.icon(src="images/dp.svg" alt="Cymbeo | Digital Publishing")
                  span.featureName.dp Digital Publishing
                  
              li.feature.last
                a.featureLink.featureDA(href= dam)
                  img.icon(src="images/da.svg" alt="Cymbeo | Digital Asset Management")
                  span.featureName.da Digital Asset Management
            

        li
          a.navLink(href= pricing) Pricing
        li
          a.navLink(href="#") Contact Us
        li.login
          a.navLink(href= login) Log In
        li.signup
          a.navButton(href= signup) Sign Up
