.container
  h2.dark.center.wow.fadeInDown(data-wow-delay="1s") Maximize your content.
  p.centered.wow.fadeInDown(data-wow-delay="1s") Cymbeo’s all-in-one simple to use toolkit has all the features you need to keep your sales teams, marketing collateral, and users content up to date.
  
  .products
    .product.cms.wow.fadeInDown#CMSbox(data-wow-delay="1s")
      .productHeader.cms
        .productOverlay.cms
          .productTitle.cms Content Management System
      .productBody
        p.productDescription Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in malesuada tellus, id dictum mi. Pellentesque eu nunc vestibulum, consequat orci vitae, faucibus purus.    
        .buttonBlock.productButton
          a.button(href="#") Learn More
          
    .product.mab.wow.fadeInDown#MABbox(data-wow-delay="1s")
      .productHeader.mab
        .productOverlay.mab
          .productTitle.mab Mobile App Builder
      .productBody
        p.productDescription Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in malesuada tellus, id dictum mi. Pellentesque eu nunc vestibulum, consequat orci vitae, faucibus purus.    
        .buttonBlock.productButton
          a.button(href="#") Learn More
          
    .product.dp.wow.fadeInDown#DPbox(data-wow-delay="1s")
      .productHeader.dp
        .productOverlay.dp
          .productTitle.dp Digital Publishing
      .productBody
        p.productDescription Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in malesuada tellus, id dictum mi. Pellentesque eu nunc vestibulum, consequat orci vitae, faucibus purus.    
        .buttonBlock.productButton
          a.button(href="#") Learn More
          
    .product.dam.wow.fadeInDown#DAMbox(data-wow-delay="1s")
      .productHeader.dam
        .productOverlay.dam
          .productTitle.dam Digital Asset Management
      .productBody
        p.productDescription Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in malesuada tellus, id dictum mi. Pellentesque eu nunc vestibulum, consequat orci vitae, faucibus purus.    
        .buttonBlock.productButton
          a.button(href="#") Learn More
