// Link Vars
- var cms = "cms.html"
- var mab = "mobileappbuilder.html"
- var dp = "digital-piblishing.html"
- var dam = "digital-asset-management.html"
- var pricing = "pricing.html"
- var signup = "sign-up.html"
- var login = "log-in.html"

//
  (href= cms)
  (href= mab)
  (href= dp)
  (href= dam)
  (href= signup)
  (href= login)
