@mixin boxShadow
  box-shadow: 0px 3px 39px 0px rgba(69,81,99,0.15)
@mixin box-shadow-dark
  box-shadow: 0px 10px 89px 0px rgba(31,44,58,0.46)

@mixin box-shadow-cms
  box-shadow: 0px 10px 89px 0px rgba($blue,0.7)

@mixin box-shadow-mab
  box-shadow: 0px 10px 89px 0px rgba($pink, 0.7)

@mixin box-shadow-dam
  box-shadow: 0px 10px 89px 0px rgba($green, 0.7)

@mixin box-shadow-dp
  box-shadow: 0px 10px 89px 0px rgba($orange, 0.7)

@mixin materialBoxShadow
  box-shadow: 0 1px 3px rgba(0,0,0,0.02), 0 1px 2px rgba(0,0,0,0.1)









@mixin borderRadius
  border-radius: 3px

@mixin border
  border: 1px solid $border
  transition: border 200ms cubic-bezier(.645, .045, .355, 1)

@mixin backgroundFade
  transition: background-color 200ms cubic-bezier(.645, .045, .355, 1)

@mixin FontColor
  transition: color 200ms cubic-bezier(.645, .045, .355, 1)

@mixin opacity
  transition: background-color 200ms cubic-bezier(.645, .045, .355, 1), opacity 200ms cubic-bezier(.645, .045, .355, 1)

@mixin center
  display: flex
  justify-content: center
  align-items: center

@mixin center-left
  display: flex
  justify-content: flex-start
  align-items: center

@mixin left-left
  display: flex
  justify-content: flex-start
  align-items: center

@mixin move-up
  transition: transform 200ms cubic-bezier(.25, .46, .491, .79);


@mixin test
  background: red
