a.button
  color: white
  text-decoration: none
  background: $green
  padding: 10px 25px
  border-radius: 0px
  @include FontColor
  @include backgroundFade
  box-sizing: border-box
  +materialBoxShadow
  +move-up


  &:hover
    background: $dark
    color: white
    transform: translateY(-5px)

a.button.grey
  background: $grey
  margin: 0px 15px

  &:hover
    background: $dark

a.helperLink
  color: $darkBlue
  margin-left: 20px
  font-weight: bold
  text-decoration: none

  span.helpPink
    color: $pink
    text-decoration: underline
    @include FontColor

    &:hover
      color: $darkBlue
