// Form styles
form
  background: white
  padding: 55px
  margin-top: 100px
  border-radius: 25px
  +boxShadow

  p
    margin-bottom: 25px
input
  height: 65px
  width: 100%
  padding-left: 15px
  box-sizing: border-box
  @include borderRadius
  @include border
  margin-bottom: 20px
  outline: none
  font-size: 16px
  text-transform: capitalize
  background: white
  transition: border 200ms cubic-bezier(.645, .045, .355, 1)
  -webkit-appearance: none


  &:hover
    border: solid 1px $border
    color: $darkBlue

  &:focus
    border: solid 1px $darkBlue
    color: $darkBlue


input::placeholder
  color: $text
input.spaceLeft
  margin-left: 5px

input.spaceRight
  margin-right: 5px

input[type='email']
  text-transform: lowercase

input[type='email']::placeholder
  text-transform: capitalize

input[type='password']
  letter-spacing: 4px

input[type='password']::placeholder
  letter-spacing: 0px

input[type='checkbox']
  display: inline
  width: auto
  padding-left: 5px
  padding-right: 5px
  border-radius: 03px
  -webkit-appearance: button
  background-color: $greyBackground
  color: #FFF
  white-space: nowrap
  overflow: hidden
  margin-right: 15px
  margin-top: 22px
  width: 17px
  height: 17px
  @include backgroundFade
  cursor: pointer

  &:checked
    background-color: $green
    background-image: url('../images/whitecheck.svg')
    background-repeat: no-repeat
    background-size: 70%
    background-position: center
    border-color: $green


label.checkLbl
  color: $text
  font-size: 14px
  cursor: pointer

input.submit
  background: $green
  color: white
  margin-bottom: 0px
  border: none
  @include backgroundFade
  cursor: pointer
  margin-bottom: 15px


  &:hover
    background-color: darken( $green, 20% )


div.submit
  padding-top: 45px
  text-align: center
  // /background: red

  a
