// Heading Styles

h1, h2
  font-size: 32px
  line-height: 38px
  font-weight: 300
  font-style: normal
  margin-bottom: 20px

h1.cms, h2.cms
  color: $blue
h1.mab, h2.mab
  color: $pink
h1.dp, h2.dp
  color: $orange
h1.dam, h2.dam
  color: $green

h3
  font-size: 25px
  line-height: 32px
  font-weight: 300
  font-style: normal
  margin-bottom: 10px
  color: $darkBlue
  border-left: 4px solid transparent
  padding: 0px 20px

h3.cms-border
  border-color: $blue
h3.mab-border
  border-color: $pink
h3.dam-border
  border-color: $green
h3.dp-border
  border-color: $orange


.dark
  color: $darkBlue
.white
  color: white
.bold
  font-weight: bold

.center
  text-align: center
.spanLink
  color: $darkBlue
  text-decoration: none
  font-weight: bold
  &:hover
    color: $green
    text-decoration: underline
p
  font-size: 17px
  color: $text
  font-weight: 200
  line-height: 27px
  max-width: 595px
  text-align: left

p.centered
  margin: 0 auto
