nav#platform
  background: transparent
  height: 90px
  width: 100%
  margin-top: 45px
  position: absolute
  z-index: 999

  a.backButton
    display: flex
    justify-content: flex-start
    align-items: center
    text-decoration: none
    opacity: .75
    @include opacity

    &:hover
      opacity: 1

    img.backArrow
      height: 16px
      margin-right: 10px
    .goBack
      color: #000000
      font-weight: bold
