// Pre-Loader
.c1.pre-loader
  background: darken($darkBlue, 20%)
  height: 100vh
  width: 100vw
  position: fixed
  z-index: 99999
  top: 0
  @include center

  .loading-bar
    width: 50%
    height: 100vh
    position: absolute
    top: 0
    left: 0
    background: yellow
