// C10

.c10.products
  width: 100%
  margin: 25px 0px
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

.c10.product
  width: 100%
  background: white
  height: 385px
  border-radius: 3px
  margin: 20px 0px
  +materialBoxShadow
  transition: all 0.3s cubic-bezier(.25,.8,.25,1)

  .c10.productHeader
    height: 105px
    background: grey
    background-size: cover
    background-repeat: no-repeat
    background-position: center
    border-radius: 3px 3px 0px 0px

    .c10.productOverlay
      height: 100%
      border-radius: 3px 3px 0px 0px
      @include center

  .c10.productBody
    padding: 25px 25px

    p.c10.productDescription
      color: $text
      margin-bottom: 15px
      font-size: 15px
    .c10.buttonBlock.productButton
      position: relative
      @include center
      margin-top: 35px


.c10.products
.c10.product
  .c10.c10.productHeader
    .c10.productOverlay
      .c10.productTitle
        background: white
        border-radius: 3px
        padding: 15px 25px
      .c10.productTitle.cms
        color: $blue
        box-shadow: 0px 3px 39px 0px $blue
      .c10.productTitle.mab
        color: $pink
        box-shadow: 0px 3px 39px 0px $pink
      .c10.productTitle.dp
        color: $orange
        box-shadow: 0px 3px 39px 0px $orange
      .c10.productTitle.dam
        color: $green
        box-shadow: 0px 3px 39px 0px $green

    .c10.productOverlay.cms
      background: $alphaBlue
    .c10.productOverlay.mab
      background: $alphaPink
    .c10.productOverlay.dp
      background: $alphaOrange
    .c10.productOverlay.dam
      background: $alphaGreen
  .c10.productHeader.cms
    background-image: url('../images/CMS.jpg')
  .c10.productHeader.mab
    background-image: url('../images/MAB.jpg')
  .c10.productHeader.dp
    background-image: url('../images/DP.jpg')
  .c10.productHeader.dam
    background-image: url('../images/DAM.jpg')


// Desktop styles
@media (min-width: $breakpoint-desktop)
  .c10.products
    width: 100%
    margin: 75px 0px
    display: flex
    justify-content: center
    align-items: center
    flex-direction: row !important
    padding-bottom: 100px

    .c10.product
      width: 25%
      background: white
      height: 385px
      border-radius: 3px
      margin: 20px 20px
      align-self: center
      +materialBoxShadow
      transition: all 0.3s cubic-bezier(.25,.8,.25,1)


      .c10.productHeader
        height: 105px
        background: grey
        background-size: cover
        background-repeat: no-repeat
        background-position: center
        border-radius: 3px 3px 0px 0px

        .c10.productOverlay
          height: 100%
          border-radius: 3px 3px 0px 0px
          @include center

      .c10.productHeader.cms
        background-image: url('../images/CMS.jpg')
      .c10.productHeader.mab
        background-image: url('../images/MAB.jpg')
      .c10.productHeader.dp
        background-image: url('../images/DP.jpg')
      .c10.productHeader.dam
        background-image: url('../images/DAM.jpg')
