// C2 Hero Section
.c2.hero
  width: 100%
  height: 100vh
  position: relative
  overflow: hidden
  padding-top: 35px

  .c2.square
    width: 75%
    height: 0
    padding-bottom: 75%
    border-radius: 50px
    transform: rotate(40deg) scale(1.33) translate(100px, 00px)
    position: absolute
    bottom: 0
    right: 0
    z-index: -3
    overflow: hidden

    .c2.squareBg
      height: 100%
      width: 100%
      position: absolute
      border-radius: inherit
      z-index: -2
      overflow: hidden
      @include center

      img.c2
        height: auto
        width: 100%
        transform: rotate(-40deg) scale(2)
        position: relative !important

    .c2.overlay
      height: 100%
      width: 100%
      position: absolute
      background: $dark
      border-radius: 50px
      opacity: .88
      display: block

    .c2.overlay.cms
      background: $alphaBlue
    .c2.overlay.mab
      background: $alphaPink
    .c2.overlay.dp
      background: $alphaOrange
    .c2.overlay.dam
      background: $alphaGreen

  .c2.container
    height: auto
    width: 100%
    display: block
    .c2.halfBlock
      width: 100%

    .c2.buttonBlock.hero
      margin-top: 0px
      padding-bottom: 0px
      height: 70px
      display: inline-block


      a.c2.helperLink
        display: none

    .c2.clientLogos
      display: none

main.hero.content-management
  .container
    .full-block
      width: 100%
      display: flex
      justify-content: space-between
      align-items: center
      flex-direction: column

      .halfBlock
        .buttonBlock.hero
          display: flex
          flex-direction: column
          align-items: flex-start
          justify-content: center
          width: 100%
          a.button.grey
            display: none

        img.client
          width: 100%
          margin-top: 45px

section.features.cms
  background-image: url('../images/CMS.jpg')
section.features.mab
  background-image: url('../images/MAB.jpg')
section.features.dam
  background-image: url('../images/DAM.jpg')
section.features.dp
  background-image: url('../images/DP.jpg')



// Desktop Styles
@media (min-width: $breakpoint-desktop)
  main.c2.hero
    height: 100vh
    width: 100%
    position: absolute
    top: 0
    z-index: 1
    display: flex
    justify-content: flex-start

    .c2.square
      background: #637691
      min-width: 40%
      width: 100px
      height: 100px
      min-height: 0
      padding-bottom: 40%
      border-radius: 50px
      transform: rotate(40deg) scale(1.33) translate(-30px, -125px)
      top: 0
      right: 0


      img.c2
        position: fixed


      .c2.overlay
        border-radius: inherit

    .c2.container
      display: flex
      justify-content: center
      align-items: flex-start
      flex-direction: column
      padding-top: 25vh

      .c2.halfBlock
        width: 40%
        display: block

      .c2.halfBlock.main-content
        display: flex
        flex-direction: column
        justify-content: center

      .c2.buttonBlock.hero
        margin-top: 45px
        @include center-left
        height: auto
        width: 100%
        height: auto
        position: relative

        a.c2.helperLink
          display: flex

          span
            margin-left: 8px

        a.c2.button.grey
          margin: 0px

      .c2.clientLogos
        width: 100%
        height: 100px
        margin-top: 5px
        @include center-left

        img.c2.client
          margin: 0px 13px
          height: 35px

        a.c2.clientLink
          color: $orange
          font-size: 15px
          @include FontColor

          &:hover
            color: $dark

        img.c2.client:first-child
          margin-left: none

  main.hero.content-management
    .container
      .full-block
        flex-direction: row
        .halfBlock
          .buttonBlock.hero
            flex-direction: row

            a.button.grey
              display: flex

          img.client
            margin-top: 0px


        .img-block
          width: 55%


// Desktop Styles
@media (min-width: $breakpoint-large-desktop)
  main.c2.hero
    height: 80vh
    width: 100%


    .c2.square
      width: 1000px
      height: 1000px
      border-radius: 100px
      transform: rotate(40deg) scale(1.33) translate(-50px, -325px)


    .c2.container
      padding-top: 0px
