// C3 Hero Section
section.c3
  background: $greyBackground
  overflow: hidden

section.c3.topSection
  margin-top: 0


// Desktop styles
@media (min-width: $breakpoint-desktop)
  section.c3
    position: relative

  section.c3.topSection
    margin-top: 100vh

// Desktop Styles
@media (min-width: $breakpoint-large-desktop)
  section.c3.topSection
    margin-top: 70vh
