// C4 How It Works

section.c4#HowItWorks
.video.c4
  @include boxShadow
  background: $darkBlue
  width: 100%
  height: 150px
  margin: 75px auto
  @include center
.playButton.c4
  display: block
  width: 50px
  height: 50px
  border-radius: 50%

.playButton.c4
  background: $pink
  box-shadow: 0px 3px 39px 0px $pink
  @include center

  img
    height: 15px
    .buttonBlock.center.c4
      flex-direction: column
      a.button.c4
      a.helperLink.c4
        display: none



// Desktop Styles
@media (min-width: $breakpoint-desktop)
  // How It Works Section
  section#HowItWorks.c4
    padding-top: 220px
    margin-bottom: 220px

  .container.c4
    div.video.c4
      width: 1000px
      height: 415px
      margin: 75px auto

  .playButton.c4
    width: 70px
    height: 70px

  .playButton.c4
    background: $pink
