// C5 Product Intros Styles

section.c5.split
  position: relative
  height: 100%
  padding: 150px 0px
  padding-bottom: 50px
  @include center-left
  flex-direction: column
  margin-bottom: 50px

  .c5.container
    width: 100%
    box-sizing: border-box

  .c5.square
    width: 70vw
    height: 0
    padding-bottom: 70vw
    border-radius: 20px
    transform: rotate(40deg) scale(1) translate(0px, 0px)
    position: absolute
    display: block
    z-index: -3
    top: 50px
    overflow: hidden
    margin: 0 auto

    .c5.squareBg
      height: 100
      width: 100%
      position: absolute
      border-radius: inherit
      z-index: -2
      overflow: hidden
      @include center


      img.c5
        height: 100%
        width: auto
        transform: rotate(-40deg) scale(1.5)

    .c5.overlay
      height: 100%
      width: 100%
      position: absolute
      border-radius: inherit
      z-index: -2


    .c5.squareBg.cms
      background-image: url('../images/CMS.jpg')
    .c5.squareBg.mab
      background-image: url('../images/MAB.jpg')
    .c5.squareBg.dp
      background-image: url('../images/DP.jpg')
    .c5.squareBg.dam
      background-image: url('../images/DAM.jpg')

    .c5.overlay.cms
      background: $alphaBlue
    .c5.overlay.mab
      background: $alphaPink
    .c5.overlay.dp
      background: $alphaOrange
    .c5.overlay.dam
      background: $alphaGreen




  img.c5.client
    width: 100%
    margin-bottom: 45px


// Desktop
@media (min-width: $breakpoint-desktop)
  // Split Sections
  section.c5.split
    margin-bottom: 0
    overflow: visible
    padding: 100px 0px

    .c5.square
      width: 24vw
      padding-bottom: 24vw
      border-radius: 50px
      transform: rotate(40deg) scale(1.4) translateY(25%)
      position: absolute
      display: block
      z-index: -3

      .c5.squareBg
        height: 100%
        width: 100%
        position: absolute
        border-radius: inherit
        z-index: -2
        overflow: hidden
        @include center

        img.c5
          height: 100%
          //width: auto
          transform: rotate(-40deg) scale(1.5)




    .c5.square.left
      top: 0
      left: 0
    .c5.square.right
      top: 0
      right: 0

  .c5.container
    width: 100%
    .c5.splitBlock
      width: 100%
      display: flex
      flex-direction: row
      justify-content: space-between
      align-items: center
      .c5.splitImage
        padding-right: 45px
        width: 50%
        position: relative
        img.c5.client
          width: 100%
          height: auto
          margin-bottom: 0px
          transform: scale(1.1)
          //mix-blend-mode: multiply
          //+boxShadow
      .c5.splitContent
        width: 50%
        padding-left: 45px

    .c5.splitBlock.reverse
      flex-direction: row-reverse

      .c5.splitImage
        display: flex
        justify-content: flex-end
        align-items: center
        padding-right: 0px
