// Video Modal
.c6.video-modal
  width: 100vw
  height: 100vh
  position: fixed
  top: 0
  z-index: 99999
  padding: 100px 0px
  display: none

.c6.video-modal-close
  width: 25px
  height: auto
  position: absolute
  top: 0
  right: 0
  padding: 0px
  z-index: 999999999
  +center
  margin-top: 25px
  margin-right: 25px
  img.c6
    width: 25px
    height: auto
    cursor: pointer
    opacity: .7

    &:hover
      opacity: 1

.c6.container.video-container
  //background: red
  width: 100%
  margin: 0 auto

.c6.video-information
  display: flex
  justify-content: space-between
  align-items: center
  flex-direction: column

  h2.c6
    color: white
    font-weight: 300
    //background: red
    margin-bottom: 20px

.c6.video-block
  background: white
  width: 100%
  height: 165px
  margin: 0 auto
  margin-top: 25px
  @include center
  border-radius: 3px

.c6.play-button
  display: block
  width: 70px
  height: 70px
  border-radius: 50%
  background: $darkBlue
  box-shadow: 0px 3px 39px 0px $blue
  +center

.c6.play
  //background: $pink
  box-shadow: 0px 3px 39px 0px $blue
  @include center

  img.c6
    height: 15px


.c6.video-modal.cms
  background: $modal-blue
.c6.video-modal.mab
  background: $modal-pink
.c6.video-modal.dam
  background: $modal-green
.c6.video-modal.dp
  background: $modal-orange


// Desktop
@media (min-width: $breakpoint-desktop)

  // Video Modal
  .c6.video-modal

  .c6.video-modal-close
    width: 25px
    right: 25px
    margin-top: 35px

    img.c6
      width: 35px

  .c6.container.video-container
    width: 640px
    margin: 0 auto

  .c6.video-information
    display: flex
    justify-content: space-between
    align-items: center
    flex-direction: row

  h2.c6
    color: white
    font-weight: 300
    //background: red
    margin-bottom: 0px

  .c6.video-block
    width: 640px
    height: 360px

  .c6.play-button
    display: block
    width: 70px
    height: 70px
    border-radius: 50%
    background: $darkBlue
    box-shadow: 0px 3px 39px 0px $blue
    +center

  .c6.play
    //background: $pink
    box-shadow: 0px 3px 39px 0px $blue
    @include center

    img.c6
      height: 15px


// Large Desktop
@media (min-width: $breakpoint-large-desktop)
  .c6.container.video-container
    width: 1280px
  .c6.video-block
    width: 1280px
    height: 720px
