// C7 Benefits
section.c7.topSection
  background: #f5f5f5
  padding: 100px 0px
  margin-top: 0px
.c7.splitBlock
  position: relative
  margin: 0px 0px

.c7.play-button
  width: 100%
  height: auto
  z-index: 3
  position: absolute
  top: 220px
  @include center

.c7.play
  width: 75px
  height: 75px
  border-radius: 50%
  @include center
  @include backgroundFade

  img.c7
    height: 17px

.c7.play.cms
  background: $blue
  @include box-shadow-cms

  &:hover
    background: $darkBlue
    @include box-shadow-dark
    cursor: pointer

.c7.play.mab
  background: $pink
  @include box-shadow-mab

  &:hover
    background: $darkBlue
    @include box-shadow-dark
    cursor: pointer

.c7.play.dam
  background: $green
  @include box-shadow-dam

  &:hover
    background: $darkBlue
    @include box-shadow-dark
    cursor: pointer

.c7.play.dp
  background: $orange
  @include box-shadow-dp

  &:hover
    background: $darkBlue
    @include box-shadow-dark
    cursor: pointer

.c7.splitImage
  img.client
    width: 100%

.c7.benefits
  width: 100%
  z-index: 4
  margin-top: 150px


a.c7.benefit
  padding-left: 50px
  height: 100%
  margin-bottom: 25px

h3.c7
  &:hover
    color: $blue
    border-left: 4px solid

p.c7
  padding: 0px 23px
  margin-bottom: 30px

.c7.button-block
  margin-top: 50px




// Desktop
@media (min-width: $breakpoint-desktop)
  section.c7.topSection
    padding: 150px 0px
    background: $greyBackground
    margin-top: 80vh

  .c7.splitBlock
    position: relative
    margin: 0px 0px
    display: flex
    justify-content: space-between
    align-items: center

    img.c7.client.active
      display: block


  .c7.play-button
    .c7.play
      width: 105px !important
      height: 105px !important

    img.c7
      height: 27px

  .c7.benefits
    width: 30%
    margin-top: 0px


// Desktop
@media (min-width: $breakpoint-large-desktop)
  .c7.benefits
    width: 40%
    margin-top: 0px
