// C7 Benefits
section.c8.features
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  background-image: url('../images/CMS.jpg')
  position: relative
  display: block
  height: auto
  padding-bottom: 0px
  overflow: hidden
  margin-top: 0px

.c8.overlay
  background: $alphaBlue
  height: 100%
  width: 100%
  position: absolute
  margin: 0px
  padding: 0px
  top: 0
  z-index: 2

.c8.overlay.cms
  background: $alphaBlue
.c8.overlay.mab
  background: $alphaPink
.c8.overlay.dam
  background: $alphaGreen
.c8.overlay.dp
  background: $alphaOrange


.c8.container
  position: relative
  z-index: 3

.c8.feature-block
  display: flex
  margin: 75px 0px
  flex-direction: column

.c8.feature
  padding: 0px 20px
  margin-bottom: 55px



h3.c8
  border-left: 4px solid transparent
  margin-bottom: 30px

p.c8
  padding: 0px 23px

h3.c8.cms-border
  border-left: 4px solid white


.c8.button-block-center
  padding: 25px 0px
  @include center

.c8.feature-image
img.c8
  transform: translate(0px, 15px)
  width: 100%



// Large Screen Styles
@media (min-width: $breakpoint-desktop)
  // Features Section
  section.c8.features
  .c8.feature-block
    flex-direction: row

  .c8.feature
    margin-bottom: 15px

  h3.c8.mab-border
    border-left: 4px solid $pink

  .c8.feature-image
    img.c8
      transform: translate(0px, 105px)
