// C9
section.c9.form
  position: relative
  padding-top: 0px
  padding-bottom: 0px
  overflow: hidden
  z-index: 888
  //background: red
  margin-top: -100vh
img.c9.cymbeoRectange
  position: absolute
  z-index: -1
  height: 120%
  top: 0
  right: 0
  transform: translate(10%, -40%)

.c9.formContainer
  width: 100%
  margin: 0 auto
  height: auto



  img.c9.whiteLogo
    height: 35px
    width: auto
    margin: 0 auto
    display: block
    margin-bottom: 35px

form.c9
  width: 100%
  padding: 30px 20px
  margin-top: 25px
  background: white
  @include borderRadius
  @include boxShadow
  box-sizing: border-box
  margin-bottom: 45px

  .c9.checkbox
    display: flex
    justify-content: flex-start
    align-items: center
    margin-bottom: 0px

  .c9.submit
    margin-top: 10px

// Desktop
@media (min-width: $breakpoint-desktop)
  section.c9.form
    padding-top: 45px
    padding-bottom: 175px
    overflow: hidden
    margin-top: 90px
    margin-bottom: 200px


  img.c9.cymbeoRectange
    position: absolute
    z-index: -1
    height: 120%
    top: 0
    right: 0
    transform: translate(10%, -40%)


  .c9.formContainer
    //width: 585px;
    margin: 0 auto
    height: auto

  img.c9.whiteLogo
    height: 35px
    width: auto
    margin: 0 auto
    display: block
    margin-bottom: 35px

  .c9.full-block
    display: flex
    justify-content: center
    align-items: center

  .c9.halfBlock
    width: 50%

  form.c9
    width: 600px
    margin: 0 auto
    padding: 50px 30px
    margin-top: 25px
    background: white
    @include borderRadius
    @include boxShadow
    box-sizing: border-box
    margin-bottom: 45px

  .c9.split
    width: 100%
    display: flex
    justify-content: space-between
    align-items: center


  .c9.loginLink
    margin-top: 25px
    a.c9.logIn
      color: $text
      text-decoration: none
      font-size: 14px
      span.darkBlue
        color: $darkBlue
        text-decoration: underline

        &:hover
          color: $green
          @include FontColor
