section.cymbiotic-relationship
  background: url("../images/cymbiotic-relationship.jpg")
  background-repeat: no-repeat
  background-size: cover
  background-position: center
  padding: 0px
  @include center
  margin-top: 0px

  .overlay
    width: 100%
    height: 100%
    background-color: $alphaDark
    padding: 150px 0px


// Desktop
@media (min-width: $breakpoint-desktop)
  section.cymbiotic-relationship
    background: url("../images/cymbiotic-relationship.jpg")
    background-repeat: no-repeat
    background-size: cover
    background-position: center
    padding: 0px
    @include center
    //margin-top: 100px

    .overlay
      width: 100%
      height: 100%
      background-color: $alphaDark
      padding: 150px 0px
