// Footer
footer
  background: $greyBackground
  border-bottom: 5px solid $darkBlue
  padding-top: 100px
  padding-bottom: 25px
  //position: relative

  img#footerLogo
    height: 35px
    display: block
    margin: 0 auto
    margin-bottom: 20px

  .copyright
    font-size: 12px
    color: $text
    text-align: center

  .footerNav
    display: block
    max-width: 170px
    margin: 0 auto
    margin-top: 60px
    margin-bottom: 60px

    .footerColumn
      width: 100%
      margin-bottom: 25px
      //text-align: center

      h4.footerHeadline
        font-size: 17px
        font-weight: bold
        margin-bottom: 10px

      h4.footerHeadline.blue
        color: $blue
      h4.footerHeadline.pink
        color: $pink
      h4.footerHeadline.orange
        color: $orange
      h4.footerHeadline.green
        color: $green

      a.footerLink
        font-size: 16px
        font-weight: 400
        color: $text
        line-height: 20px
        display: block
        text-decoration: none
        padding: 7px 0px
        @include FontColor

        &:hover
          color: $darkBlue
          text-decoration: underline



// Small Desktop
@media (min-width: $breakpoint-desktop)
  footer
    background: $greyBackground
    border-bottom: 5px solid $darkBlue
    padding-top: 100px
    padding-bottom: 25px

    img#footerLogo
      height: 35px
      display: block
      margin: 0 auto
      margin-bottom: 20px

    .copyright
      font-size: 12px
      color: $text
      text-align: center

    .footerNav
      display: flex
      justify-content: space-between
      align-items: flex-start
      max-width: 800px
      margin: 0 auto
      margin-top: 60px
      margin-bottom: 60px

      .footerColumn
        width: 25%
        margin: 0px 5px
        h4.footerHeadline
          font-size: 17px
          font-weight: bold
          margin-bottom: 10px

        h4.footerHeadline.blue
          color: $blue
        h4.footerHeadline.pink
          color: $pink
        h4.footerHeadline.orange
          color: $orange
        h4.footerHeadline.green
          color: $green

        a.footerLink
          font-size: 14px
          font-weight: 400
          color: $text
          line-height: 20px
          display: block
          text-decoration: none
          padding: 7px 0px
          @include FontColor

          &:hover
            color: $darkBlue
            text-decoration: underline
