// Phone
@media (min-width: $breakpoint-phone)
  nav#marketing
    height: 90px
    margin-top: 0px
    padding-top: 45px
    //background: red
    position: relative
    z-index: 999

    .container
      height: 100%
      .menu
        background: red
        img.menuIcon
          display: block
          height: 20px
          float: right
          //background: red
          //background: red
          position: absolute
          top: 45px
          right: 25px
          &:hover
            cursor: pointer

      .marketingLogo
        height: 35px
        float: left
        @include center-left
        //background: blue

        a
        padding: 0px

        img
          height: 40px
          //background: blue

      .navLinks
        display: none
        background: $transWhite
        height: 100vh
        width: 100%
        position: fixed
        top: 0
        left: 0
        z-index: 3

        ul.navUl
          list-style-type: none
          padding: 00px 0px
          height: 100%
          width: 85%
          background: white
          @include boxShadow

          div.mobileLogo
            //background: blue
            @include center
            padding: 45px 0px 0px 0px
            margin-bottom: 25px
            img.mobil
              height: 45px
          .close
            width: 25%
            height: 100%
            @include center
            background: transparent
            position: absolute
            top: 0px
            right: 0px

          li.login
            //background: blue
            border-top: 1px solid #eaeaea
            margin-top: 20px
            @include center

            a.navLink
              text-align: center
              color: white

          li.signup
            //background: green
            padding: 25px 0px
            @include center
            a.navButton
              color: white
              text-decoration: none
              background: $green
              padding: 10px 45px
              margin-left: 10px
              border-radius: 3px
              @include boxShadow
              @include FontColor
              @include backgroundFade


              &:hover
                background: $darkBlue
                color: white

          li
            display: block
            //@include center


            a.navLink
              width: 100%
              height: 100%
              //background: blue
              font-size: 15px
              font-weight: 500
              line-height: 50px
              padding: 0px 20px
              text-decoration: none
              color: $darkBlue
              @include FontColor

              &:hover
                color: darken( white, 40% )



            a.navLink



            div.dropdown
              width: 0 auto
              height: auto
              position: absolute
              background: white
              border-radius: 4px
              z-index: 1
              @include boxShadow
              transform: translate(0px, -10px)
              display: none
              margin-left: 25px
              img.triangle
                @include boxShadow
                width: 14px
                position: absolute
                top: -7px
                left: 0px




            ul.featuresList
              //background: green
              padding: 0px 0px

              li.feature.last
                border-bottom: none



              li.feature
                //background: red
                padding: 0px 0px
                display: flex
                align-items: center
                justify-content: flex-start
                border-bottom: 1px solid #eaeaea



                a.featureLink
                  //background: blue
                  font-size: 14px
                  font-weight: bold
                  //padding: 10px 0px
                  display: flex
                  align-items: center
                  justify-content: flex-start
                  width: 100%
                  padding: 25px 20px
                  //line-height: 22px
                  @include backgroundFade

                  &:hover
                    cursor: pointer




                  img.icon
                    width: 23px
                    margin-right: 15px

                  img.icon.app
                    width: 15px
                    margin-right: 15px


                  span.cms
                    color: $blue

                  span.cmab
                    color: $pink

                  span.da
                    color: $green

                  span.dp
                    color: $orange



                a.featureCMS
                  &:hover
                    background: lighten( $blue, 40% )

                a.featureCMAB
                  &:hover
                    background: lighten( $pink, 30% )

                a.featureDP
                  &:hover
                    background: lighten( $orange, 30% )

                a.featureDA
                  &:hover
                    background: lighten( $green, 30% )

// Tablet
//@media (min-width: $breakpoint-tablet)

// Small Laptop
//@media (min-width: $breakpoint-small)

// Desktop
@media (min-width: $breakpoint-desktop)
  nav#marketing
    height: 90px
    margin-top: 45px
    //background: grey
    position: relative
    z-index: 999
    .container
      height: 100%
      .menu
        img.menuIcon
          display: none
      .marketingLogo
        height: 100%
        float: left
        @include center-left
        //background: blue



        a
        padding: 0px

        img
          height: 40px
      .navLinks
        float: right
        background: transparent
        height: 100%
        position: relative
        width: auto
        display: block

        ul.navUl
          list-style-type: none
          padding: 0px
          width: auto
          height: 100%
          background: none
          float: right
          box-shadow: none

          div.mobileLogo
            display: none
            img.mobil
              height: 45px

          .close
            display: none

          li.login
            //background: blue
            border-top: none
            margin-top: 0px
            //@include center
            display: inline
            //float: right

            a.navLink
              //text-align: center
              color: white

          li.signup
            //background: green
            padding: 0px 0px
            //@include center
            //float: none
            display: inline
            a.navButton
              color: white
              text-decoration: none
              background: rgba(255,255,255, .40)
              padding: 10px 25px
              margin-left: 10px
              border-radius: 3px
              @include boxShadow
              @include FontColor
              @include backgroundFade


              &:hover
                background: $green
                color: white

          li
            display: inline
            //@include center

            a.navLink
              width: 100%
              height: 90px
              //background: blue
              font-size: 15px
              font-weight: 300
              line-height: 90px
              padding: 0px 20px
              text-decoration: none
              color: white
              @include FontColor

              &:hover
                opacity: .75



            a.navLink



            div.dropdown
              width: auto
              height: auto
              position: absolute
              background: white
              border-radius: 4px
              z-index: 1
              @include boxShadow
              transform: translate(0px, -10px)
              display: none
              img.triangle
                @include boxShadow
                width: 14px
                position: absolute
                top: -7px
                left: 30px


            ul.featuresList
              //background: green
              padding: 0px 0px

              li.feature.last
                border-bottom: none


              li.feature
                //background: red
                padding: 0px 0px
                display: flex
                align-items: center
                justify-content: flex-start
                border-bottom: 1px solid #eaeaea



                a.featureLink
                  //background: blue
                  font-size: 14px
                  font-weight: bold
                  //padding: 10px 0px
                  display: flex
                  align-items: center
                  justify-content: flex-start
                  width: 100%
                  padding: 25px 20px
                  //line-height: 22px
                  @include backgroundFade

                  &:hover
                    cursor: pointer




                  img.icon
                    width: 23px
                    margin-right: 15px

                  img.icon.app
                    width: 15px
                    margin-right: 15px


                  span.cms
                    color: $blue

                  span.cmab
                    color: $pink

                  span.da
                    color: $green

                  span.dp
                    color: $orange



                a.featureCMS
                  &:hover
                    background: lighten( $blue, 40% )

                a.featureCMAB
                  &:hover
                    background: lighten( $pink, 30% )

                a.featureDP
                  &:hover
                    background: lighten( $orange, 30% )

                a.featureDA
                  &:hover
                    background: lighten( $green, 30% )
