.c10.products
  .c10.product.cms.wow.fadeInDown#CMSbox(data-wow-delay="1s")
    .c10.productHeader.cms
      .c10.productOverlay.cms
        .c10.productTitle.cms Content Management System
    .c10.productBody
      p.c10.productDescription Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in malesuada tellus, id dictum mi. Pellentesque eu nunc vestibulum, consequat orci vitae, faucibus purus.    
      .c10.buttonBlock.productButton
        a.c10.button(href= cms) Learn More
        
  .c10.product.mab.wow.fadeInDown#MABbox(data-wow-delay="1s")
    .c10.productHeader.mab
      .c10.productOverlay.mab
        .c10.productTitle.mab Mobile App Builder
    .c10.productBody
      p.c10.productDescription Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in malesuada tellus, id dictum mi. Pellentesque eu nunc vestibulum, consequat orci vitae, faucibus purus.    
      .c10.buttonBlock.productButton
        a.c10.button(href= mab) Learn More
        
  .c10.product.dp.wow.fadeInDown#DPbox(data-wow-delay="1s")
    .c10.productHeader.dp
      .c10.productOverlay.dp
        .c10.productTitle.dp Digital Publishing
    .c10.productBody
      p.c10.productDescription Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in malesuada tellus, id dictum mi. Pellentesque eu nunc vestibulum, consequat orci vitae, faucibus purus.    
      .c10.buttonBlock.productButton
        a.c10.button(href= dp) Learn More
        
  .c10.product.dam.wow.fadeInDown#DAMbox(data-wow-delay="1s")
    .c10.productHeader.dam
      .c10.productOverlay.dam
        .c10.productTitle.dam Digital Asset Management
    .c10.productBody
      p.c10.productDescription Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in malesuada tellus, id dictum mi. Pellentesque eu nunc vestibulum, consequat orci vitae, faucibus purus.    
      .c10.buttonBlock.productButton
        a.c10.button(href= dam) Learn More
