if product == "cms"  
  // Hero Section CMS
  main.c2.hero.content-management
    .c2.square
      .c2.squareBg
        img.c2.wow.fadeIn(src="images/CMS.jpg")
      .c2.overlay.cms
    .c2.container
      .c2.full-block
        .c2.halfBlock.main-content
          h1.c2.cms.wow.fadeInDown Content <span class="bold"></span>Management System
          p.c2.wow.fadeInDown(data-wow-delay=".5s") Simply upload and edit your marketing and sales collateral and our intuitive oftware helps you to build a salesforce that will increase sales, and help push your company further.
          .c2.buttonBlock.hero
            a.c2.button.wow.fadeInDown(href= signup, data-wow-delay="1s") Get Started Today
            a.c2.button.grey.wow.fadeInDown(href="#", data-wow-delay="1.5s" style="margin-left: 10px;") Or Request A Demo
        .c2.halfBlock.img-block
          img.c2.client.wow.fadeInDown#Screenshot(src="images/users-screenshot.png" alt="")

else if product == "mab"
  // Hero Section MAB
  main.c2.hero.content-management
    .c2.square
      .c2.squareBg
        img.c2(src="images/MAB.jpg")
      .c2.overlay.mab
    .c2.container
      .c2.full-block
        .c2.halfBlock
          h1.c2.mab Mobile <span class="bold"></span>App Builder
          p.c2 Simply upload and edit your marketing and sales collateral and our intuitive oftware helps you to build a salesforce that will increase sales, and help push your company further.
          .c2.buttonBlock.hero
            a.c2.button(href= signup) Get Started Today
            a.c2.button.grey.wow.fadeInDown(href="#", data-wow-delay="1.5s" style="margin-left: 10px;") Or Request A Demo
        .c2.halfBlock.img-block
          img.c2.client(src="images/users-screenshot.png" alt="")

else if product == "dam"
  // Hero Section DAM
  main.c2.hero.content-management
    .c2.square
      .c2.squareBg
        img.c2(src="/images/DAM.jpg")
      .c2.overlay.dam
    .c2.container
      .c2.full-block
        .c2.halfBlock
          h1.c2.dam Digital <span class="bold"></span>Asset Management
          p.c2 Simply upload and edit your marketing and sales collateral and our intuitive oftware helps you to build a salesforce that will increase sales, and help push your company further.
          .c2.buttonBlock.hero
            a.c2.button(href= signup) Get Started Today
            a.c2.button.grey.wow.fadeInDown(href="#", data-wow-delay="1.5s" style="margin-left: 10px;") Or Request A Demo
        .c2.halfBlock.img-block
          img.c2.client(src="images/double-screenshot.png" alt="")

else if product == "dp"
  // Hero Section
  main.c2.hero.content-management
    .c2.square
      .c2.squareBg
        img.c2(src="/images/DP.jpg")
      .c2.overlay.dp
    .c2.container
      .c2.full-block
        .c2.halfBlock
          h1.c2.dp Digital <span class="bold"></span>Publishing
          p.c2 Simply upload and edit your marketing and sales collateral and our intuitive oftware helps you to build a salesforce that will increase sales, and help push your company further.
          .c2.buttonBlock.hero
            a.c2.button(href= signup) Get Started Today
            a.c2.button.grey.wow.fadeInDown(href="#", data-wow-delay="1.5s" style="margin-left: 10px;") Or Request A Demo
        .c2.halfBlock.img-block
          img.c2.client(src="images/double-screenshot.png" alt="")
          

else if page == "index"
  // Hero Section
  main.c2.hero
    .c2.square
      .c2.squareBg
        img.c2(src="/images/index-hero.jpg")
      .c2.overlay
    .c2.container
      .c2.halfBlock
        h1.c2.dark.wow.fadeInDown Control your <span class="bold">Content</span> and <span class="bold">Increase</span> your business.
        p.c2.wow.fadeInDown(data-wow-delay=".5s") Cymbeo is a simple and intuitive Mobile & Web Content Management System without all of the hassle.
      .c2.buttonBlock.hero
        a.c2.button.wow.fadeInDown(href= signup, data-wow-delay="1s") Get Started Today
        a.c2.helperLink.wow.fadeInDown(href="#" , data-wow-delay="1.5s") or you can <span class="helpPink"> Learn More</span>
      //.halfBlock
      .c2.clientLogos
        img.c2.client.wow.fadeInDown(src="images/YoungLiving.png" alt="Cymbeo Client: Young Living", data-wow-delay="2s")
        img.c2.client.wow.fadeInDown(src="images/Melaleuca.png" alt="Cymbeo Client: Melaleuca", data-wow-delay="2.5s")
        img.c2.client.wow.fadeInDown(src="images/ultradent.png" alt="Cymbeo Client: Ultradent", data-wow-delay="3s")
        a.c2.clientLink.wow.fadeInDown(href="#", data-wow-delay="3.5s") View All Clients

else if page == "pricing"
  // Pricing Page Hero
  main.c2.hero
    .c2.square
      .c2.squareBg
        img.c2(src="/images/index-hero.jpg")
      .c2.overlay
    .c2.container
      .c2.halfBlock
        h1.c2.dark.wow.fadeInLeft Choose the Right Plan For You.
        p.c2.wow.fadeInLeft(data-wow-delay=".5s") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tellus magna, venenatis at dapibus sed, rhoncus id velit. Sed quis condimentum eros. Duis a enim leo.
      .c2.buttonBlock.hero
        a.c2.button.grey.wow.fadeInLeft(href="#", data-wow-delay="1s") Request A Demo




else
  main.c2.hero
    .c2.square
      .c2.squareBg
        img.c2(src="/images/index-hero.jpg")
      .c2.overlay








      
