if (page == "index" || page == "pricing")
  // Maximize Section    
  section.c3.topSection
    .c3.container
      h2.c3.dark.center.wow.fadeInDown(data-wow-delay="1s") Maximize your content.
      p.c3.centered.wow.fadeInDown(data-wow-delay="1s") Cymbeo’s all-in-one simple to use toolkit has all the features you need to keep your sales teams, marketing collateral, and users content up to date.
      
      // C10 Product Col
      include c10-product-col.jade
      

else
  // Maximize Section    
  section.c3
    .c3.container
      h2.c3.dark.center.wow.fadeInDown(data-wow-delay="1s") Maximize your content.
      p.c3.centered.wow.fadeInDown(data-wow-delay="1s") Cymbeo’s all-in-one simple to use toolkit has all the features you need to keep your sales teams, marketing collateral, and users content up to date.
      
      // C10 Product Col
      include c10-product-col.jade
