// How it works Section               
section.c4.how-it-works#HowItWorks
  .container.c4
    h2.dark.center.c4 Here is <span class="bold">how it works.</span>
    p.centered.c4 With Cymbeo, you get a wide array of tools that you can use to manage your content, everywhere! With the simple and intuitve CMS and Mobile App Builder, your content will be easier to manage than ever before.
    div.video.c4
      .playButton.pink.c4
        img(src="images/playIcon.svg")
    .buttonBlock.center.c4
      a.button.c4(href= signup) Get Started Today
      a.helperLink.c4(href="#") or you can <span class="helpPink">Learn More</span>   
