// CMS Section
section.c5.split#CMS  
  .c5.container
    .c5.splitBlock
      .c5.splitImage
        img.c5.client(src="images/cms-helper.png" alt="")
      .c5.splitContent
        h2.c5.cms Access up to date content everywhere.
        p.c5 Simply upload and edit your marketing and sales collateral and our intuitive oftware helps you to build a salesforce that will increase sales, and help push your company further.
        .c5.buttonBlock
          a.c5.button(href= cms) Learn More
  .c5.square.left
    .c5.squareBg
      img.c5(src="images/CMS.jpg")
    .c5.overlay.cms      

// Mobile App Section  
section.c5.split#MAB 
  .c5.container
    .c5.splitBlock.reverse
      .c5.splitImage
        img.c5.client(src="images/mab-helper.png" alt="")
      .c5.splitContent
        h2.c5.mab Your Custom Mobile App
        p.c5 With The Cymbeo toolkit you build an app for whatever you want. You own it. Apple, Android, and Amazon Devices can all have access to your content, and your app. The Cymbeo apps are always expanding as well and adding features that best fit your users and you, if you have a killer feature that you would need.
        .c5.buttonBlock
          a.c5.button(href= mab) Learn More
  .c5.square.right
    .c5.squareBg
      img.c5(src="images/MAB.jpg")
    .c5.overlay.mab      

// Digital Publishing Section
section.c5.split#DP 
  .c5.container
    .c5.splitBlock
      .c5.splitImage
        img.c5.client(src="images/dp-reponsive.png" alt="")
      .c5.splitContent
        h2.c5.dp Digital Publishing
        p.c5 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tellus magna, venenatis at dapibus sed, rhoncus id velit. Sed quis condimentum eros. Duis a enim leo.
        .c5.buttonBlock
          a.c5.button(href= dp) Learn More
    
  .c5.square.left
    .c5.squareBg
      img.c5(src="images/DP.jpg")
    .c5.overlay.dp    

// Digital Asset Management Section  
section.c5.split#DAM
  .c5.container
    .c5.splitBlock.reverse
      .c5.splitImage
        img.c5.client(src="images/DigitalAssetManagement.png" alt="")
      .c5.splitContent
        h2.c5.dam Digital Asset Management 
        p.c5 Nunc laoreet erat in velit tincidunt auctor. Quisque sit amet sollicitudin metus. Donec congue orci ut est scelerisque tempus. Duis pharetra velit sed dui eleifend gravida.
        .c5.buttonBlock
          a.c5.button(href= dam) Learn More
  .c5.square.right
    .c5.squareBg
      img.c5(src="images/DAM.jpg")
    .c5.overlay.dam
