
if product == "cms"
  .c6.video-modal.cms
    .c6.video-modal-close
      img.c6(src="../images/close.svg", alt="alt")
    
    .c6.container.video-container
      .c6.video-information
        h2.c6 Name of <strong>Video</strong>
        a.c6.button(href= signup) Get Started Today
      
      .c6.video-block
        .c6.play-button
          .c6.play
            img.c6.client(src="images/play.svg" alt="")


else if product == "mab"
  .c6.video-modal.mab
    .c6.video-modal-close
      img.c6(src="../images/close.svg", alt="alt")
    
    .c6.container.video-container
      .c6.video-information
        h2.c6 Name of <strong>Video</strong>
        a.c6.button(href= signup) Get Started Today
      
      .c6.video-block
        .c6.play-button
          .c6.play
            img.c6.client(src="images/play.svg" alt="")


else if product == "dp"
  .c6.video-modal.dp
    .c6.video-modal-close
      img.c6(src="../images/close.svg", alt="alt")
    
    .c6.container.video-container
      .c6.video-information
        h2.c6 Name of <strong>Video</strong>
        a.c6.button(href= signup) Get Started Today
      
      .c6.video-block
        .c6.play-button
          .c6.play
            img.c6.client(src="images/play.svg" alt="")
          

else if product == "dam"
  .c6.video-modal.dam
    .c6.video-modal-close
      img.c6(src="../images/close.svg", alt="alt")
    
    .c6.container.video-container
      .c6.video-information
        h2.c6 Name of <strong>Video</strong>
        a.c6.button(href= signup) Get Started Today
      
      .c6.video-block
        .c6.play-button
          .c6.play
            img.c6.client(src="images/play.svg" alt="")
