-
  var benefits = [
    { 
      title: "Benefit Number One",
      link: "#",
      description: "Cymbeo’s all-in-one simple to use toolkit has all the features you need to keep your sales teams, marketing collateral, and users content up to date. ",
    },
    
    { 
      title: "Benefit Number Two",
      link: "#",
      description: "Cymbeo’s all-in-one simple to use toolkit has all the features you need to keep your sales teams, marketing collateral, and users content up to date. ",
    },
    
    { 
      title: "Benefit Number Three",
      link: "#",
      description: "Cymbeo’s all-in-one simple to use toolkit has all the features you need to keep your sales teams, marketing collateral, and users content up to date. ",
    },

  ];



if product == "cms" 
  // Intro Section CMS
  section.c7.topSection
    .c7.container
      .c7.splitBlock
        .c7.play-button.activateModal
          .c7.play.cms
            img.c7(src="images/play.svg" alt="")
        .c7.splitImage
          img.c7.client.active#BenefitImage(src="images/double-screenshot.png" alt="")
          
        .c7.benefits  
          each item in benefits
            a.c7.benefit#Benefit1(href=item.link)
              h3.c7.cms-border #{item.title}
              p.c7 #{item.description}


else if product == "mab" 
  
  // Intro Section MAB
  section.c7.topSection
    .c7.container
      .c7.splitBlock
        .c7.play-button.activateModal
          .c7.play.mab
            img.c7.client(src="images/play.svg" alt="")
        .c7.splitImage
          img.c7(src="images/double-screenshot.png" alt="")
        .c7.benefits
          each item in benefits
            a.c7.benefit#Benefit1(href=item.link)
              h3.c7.mab-border #{item.title}
              p.c7 #{item.description}
          
          .c7.button-block
            a.c7.button.grey(href="#") Or Request A Demo


else if product == "dam" 
  // Intro Section DAM
  section.c7.topSection
    .c7.container
      .c7.splitBlock
        .c7.play-button.activateModal
          .c7.play.dam
            img.c7(src="images/play.svg" alt="")
        .c7.splitImage
          img.c7.client(src="images/dam-hero.svg" alt="")
        .c7.benefits
          each item in benefits
            a.c7.benefit#Benefit1(href="#{item.link}")
              h3.c7.dam-border #{item.title}
              p.c7 #{item.description}
          
          .c7.button-block
            a.c7.button.grey(href="#") Or Request A Demo


else if product == "dp" 
  // Intro Section DP
  section.c7.topSection
    .c7.container
      .c7.splitBlock
        .c7.play-button.activateModal
          .c7.play.dp
            img.c7(src="images/play.svg" alt="")
        .c7.splitImage
          img.c7.client(src="images/dp-reponsive.png" alt="")
        .c7.benefits
          each item in benefits
            a.c7.benefit#Benefit1(href="#{item.link}")
              h3.c7.dp-border #{item.title}
              p.c7 #{item.description}
            
          .c7.button-block
            a.c7.button.grey(href="#") Or Request A Demo


  
