// C8 Features
if product == "cms"  
  // Features Section 
  section.c8.features.cms
    .c8.overlay.cms
    .c8.container
      h2.c8.white.center Have some questions?
      .c8.feature-block
        .c8.feature
          h3.c8.white.cms-border <span class="bold">Feature</span> Number Two
          p.c8.white Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent interdum vulputate luctus. Nullam dapibus pellentesque ex. Nulla efficitur, purus in ultricies rutrum, erat eros mattis risus, et dignissim neque velit eget sapien.
        
        .c8.feature
          h3.c8.white <span class="bold">Feature</span> Number Two
          p.c8.white Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent interdum vulputate luctus. Nullam dapibus pellentesque ex. Nulla efficitur, purus in ultricies rutrum, erat eros mattis risus, et dignissim neque velit eget sapien.
        
        .c8.feature
          h3.c8.white <span class="bold">Feature</span> Number Two
          p.c8.white Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent interdum vulputate luctus. Nullam dapibus pellentesque ex. Nulla efficitur, purus in ultricies rutrum, erat eros mattis risus, et dignissim neque velit eget sapien.
      .c8.button-block-center
        a.c8.button(href="#") View All Features
    
      .c8.feature-image
        img.c8(src="images/large-screenshot.png", alt="alt")
      

else if product == "mab" 
  // Features Section 
  section.c8.features.mab
    .c8.overlay.mab
    .c8.container
      h2.c8.white.center Have some questions?
      .c8.feature-block
        .c8.feature
          h3.c8.white.cms-border <span class="bold">Feature</span> Number Two
          p.c8.white Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent interdum vulputate luctus. Nullam dapibus pellentesque ex. Nulla efficitur, purus in ultricies rutrum, erat eros mattis risus, et dignissim neque velit eget sapien.
        
        .c8.feature
          h3.c8.white <span class="bold">Feature</span> Number Two
          p.c8.white Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent interdum vulputate luctus. Nullam dapibus pellentesque ex. Nulla efficitur, purus in ultricies rutrum, erat eros mattis risus, et dignissim neque velit eget sapien.
        
        .c8.feature
          h3.c8.white <span class="bold">Feature</span> Number Two
          p.c8.white Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent interdum vulputate luctus. Nullam dapibus pellentesque ex. Nulla efficitur, purus in ultricies rutrum, erat eros mattis risus, et dignissim neque velit eget sapien.
      .c8.button-block-center
        a.c8.button(href="#") View All Features
    
      .c8.feature-image
        img.c8(src="images/large-screenshot.png", alt="alt")

else if product == "dam"
  // Features Section 
  section.c8.features.dam
    .c8.overlay.dam
    .c8.container
      h2.c8.white.center Have some questions?
      .c8.feature-block
        .c8.feature
          h3.c8.white.dam-border <span class="bold">Feature</span> Number Two
          p.c8.white Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent interdum vulputate luctus. Nullam dapibus pellentesque ex. Nulla efficitur, purus in ultricies rutrum, erat eros mattis risus, et dignissim neque velit eget sapien.
        
        .c8.feature
          h3.c8.white <span class="bold">Feature</span> Number Two
          p.c8.white Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent interdum vulputate luctus. Nullam dapibus pellentesque ex. Nulla efficitur, purus in ultricies rutrum, erat eros mattis risus, et dignissim neque velit eget sapien.
        
        .c8.feature
          h3.c8.white <span class="bold">Feature</span> Number Two
          p.c8.white Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent interdum vulputate luctus. Nullam dapibus pellentesque ex. Nulla efficitur, purus in ultricies rutrum, erat eros mattis risus, et dignissim neque velit eget sapien.
      .c8.button-block-center
        a.c8.button(href="#") View All Features
    
      .c8.feature-image
        img.c8(src="images/large-screenshot.png", alt="alt")

else if product == "dp" 
  // Features Section 
  section.c8.features.dp
    .c8.overlay.dp
    .c8.container
      h2.c8.white.center Have some questions?
      .c8.feature-block
        .c8.feature
          h3.c8.white.dp-border <span class="bold">Feature</span> Number Two
          p.c8.white Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent interdum vulputate luctus. Nullam dapibus pellentesque ex. Nulla efficitur, purus in ultricies rutrum, erat eros mattis risus, et dignissim neque velit eget sapien.
        
        .c8.feature
          h3.c8.white <span class="bold">Feature</span> Number Two
          p.c8.white Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent interdum vulputate luctus. Nullam dapibus pellentesque ex. Nulla efficitur, purus in ultricies rutrum, erat eros mattis risus, et dignissim neque velit eget sapien.
        
        .c8.feature
          h3.c8.white <span class="bold">Feature</span> Number Two
          p.c8.white Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent interdum vulputate luctus. Nullam dapibus pellentesque ex. Nulla efficitur, purus in ultricies rutrum, erat eros mattis risus, et dignissim neque velit eget sapien.
      .c8.button-block-center
        a.c8.button(href="#") View All Features
    
      .c8.feature-image
        img.c8(src="images/large-screenshot.png", alt="alt")

else 
