if page == "sign-up"
  // Sign Up Form
  section.c9.form
    .c9.container
      .c9.formContainer
        .c9.full-block
          // Form 
          form.c9#signUp(action="" method="")
            h1.c9 Let's Sign <span class="bold">You</span> Up
            p.c9 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tellus magna, venenatis at dapibus sed, rhoncus id velit. Sed quis condimentum eros. Duis a enim leo.
            
            // Email Account
            input.c9#email(name="Email" type="email" placeholder="Email Address" required)
            // Password
            input.c9#password(name="password" type="password" placeholder="Create a  Password" required)
            // Terms
            .c9.checkbox
              input.c9#terms(type="checkbox" required)
              label.c9.checkLbl(for="terms") I Agree to the <span class="bold"><a href="#" class="spanLink"> Terms & Conditions</a></span>
            // Submit
            .c9.submit
              input.c9#submit.submit(type="submit" value="Sign Up")
            
            .c9.loginLink
              a.c9.logIn(href="#") Have an account already? <span class="bold darkBlue">Log In Here</span>


else if page = "log-in"
  // Log In Form
  section.c9.form
    .c9.container
      .c9.formContainer
        .c9.full-block
          // Form 
          form.c9#LogIN(action="" method="")
            h1.c9 Log In to Your Account
            p.c9 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tellus magna, venenatis at dapibus sed, rhoncus id velit.
            
            // Email Account
            input.c9#email(name="Email" type="email" placeholder="Email Address" required)
            // Password
            input.c9#password(name="password" type="password" placeholder="Password" required)
            a.c9(href="#") I Forgot My Password?
            
            // Submit
            .c9.submit
              input#submit.c9.submit(type="submit" value="Log In")
              a.c9(href="#") I Don't Have An Account
